
.degrees .degree{
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  cursor: pointer;
  border:1px solid transparent;
  z-index: 10;
  pointer-events: auto;
}


.degrees .degree:hover{


  border-image: linear-gradient(45deg, #688ae9, #c66d7b, #688ae9, #c66d7b);
  border-image-slice: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


}

.degrees .degree.my-button.active{

  background-color: var(--primary-purple);
  color:var(--sidebar-bg)


}

.main-btn{
  background-color:var(--primary-purple);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color:white;
}

.main-btn:hover {

  background-color:#445edc;




}

select::placeholder{
  color:var(--text-gray);
}

select option:hover{

  color:var(--primary-purple);
  background-color:var(--primary-purple);
}

input:focus , select:focus ,textarea:focus{

    box-shadow: 0 0 0 .25rem rgb(107, 90, 219,0.25);
    border-color: var(--primary-purple);

}

.form-floating > label{
  left: 9px;
}
