.profile-container {
  position: relative;
  /* min-height: calc(100vh - 64px); */
  /* margin-top: 64px; */
  background-color: #f8f9fa;
  padding-bottom: 72px; /* Space for bottom navigation */
}

.content-area {
  padding: 20px;
   /*height: calc(100vh - 136px); */ /* Viewport height - (header + bottom nav) */
  overflow-y: auto;
}
