.loading-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 0.85rem;
}

.skeleton-card {
  width: 600px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* This keyframe will create the initial slide animation  */
@keyframes expanding {
  0% {
    transform: scaleX(0);
    opacity: 0;
    width: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

/* This keyframe will create the loading gradient effect */
@keyframes moving {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-loading {
  transform-origin: left;
  /* animation: moving 1s 1s infinite forwards linear; */
  /* animation: expanding 0.4s 0.7s forwards ease-in; */
  animation: expanding 0.4s 0.7s forwards linear,
    moving 1s infinite forwards linear;
}

.loading-bar {
  height: 12px;
  border-radius: 0.125rem;
  background-size: 200% auto;
  /* opacity: 0; */
  background-color: rgb(255, 255, 255);
}

.gradient-1 {
  background-image: linear-gradient(
    to right,
    #ffffff 30%,
    #6a96f390 60%,
    #ffffff
  );
  width: 80%;
  border-radius: 10px;
}
.gradient-2 {
  background-image: linear-gradient(
    to right,
    #7498e7cc,
    #ffffff 60%,
    #85a7f1d7
  );
  width: 100%;
  border-radius: 10px;
}
.gradient-3 {
  background-image: linear-gradient(
    to right,
    #ffffff 50%,
    #658de49f 90%,
    #ffffff
  );
  width: 60%;
  border-radius: 10px;
}
