<div class="signup-container" style="width: 100%">
  <div class="signup-card">
    <h2>Welcome back</h2>
    <p>
      Don't have account?
      <a routerLink="/signup">Signup</a>
    </p>

    <form (ngSubmit)="onSubmit()">
      <input type="email" placeholder="Email address" name="email" required />

      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          name="password"
          required
        />
        <i
          class="fa-solid"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePassword()"
        ></i>
      </div>

      <button type="submit">Login</button>
    </form>
  </div>
</div>
