


<div class="signin-container" style="margin-top: 70px;">


  <!-- Card -->
  <div class="signin-box" style="width: 50%;">
    <h3 class="signin-title">Sign in</h3>
    <p class="subtitle">
      Don’t have an account ? 
      <a routerLink="signup" >Create Account </a>
    </p>

    <!-- Form -->
    <form>
      <div class="form-group">
        <input type="email" placeholder="Email address" class="form-control" />
      </div>

      <div class="form-group password-field">
        <input type="password" placeholder="Password" class="form-control" />
        <span class="toggle-eye">👁</span>
      </div>

      <div class="options">
        <label>
          <input type="checkbox" /> Remember Me
        </label>
        <a href="#">Forget password?</a>
      </div>

      <button type="submit" class="btn-signin">
        Sign In →
      </button>
    </form>
  </div>
</div>


