/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap");

@import "@fortawesome/fontawesome-svg-core/styles.css";

body {
  font-family: "Albert Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

/* Custom variables */
:root {
  --primary-purple: #6366f1;
  --light-purple: #e0e7ff;
  --text-gray: #6b7280;
  --light-gray: #f8fafc;
  --border-gray: #e5e7eb;
  --sidebar-width: 250px;
  --sidebar-bg: #ffffff;
  --sidebar-border: #e9ecef;
  --active-bg: #007bff;
  --active-text: #ffffff;
  --text-color: #495057;
  --border-color: #dee2e6;
  --content-bg: #f8f9fa;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #b5b5b5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #94a3b8 0%, #64748b 100%);
}

.gradient {
  font-weight: 700;
  background: linear-gradient(90deg, #688ae9, #c66d7b);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: textShine 1.5s ease-in-out infinite alternate;
  font-family: "Sulphur Point", sans-serif;
}

@keyframes textShine {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.btn-primary {
  background: linear-gradient(135deg, #688ae9 0%, #b46dc6 100%);
  border: none;
  border-radius: 12px;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(135deg, #4f69af 0%, #7a4986 100%);
}
