<div class="container-fluid main-edu-boxes d-flex flex-column align-items-center p-5">

      <div class="box1 border border-light-subtle p-4 px-5 rounded-1 bg-white" style="width:80%">

        <p class="fw-semibold mb-4">What skills, tools, technologies and fields of expertise do you have?
          <span class="text-secondary"> - Add up to 20</span>
        </p>

        <button type="button" class="btn main-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                +  Add Skill
        </button>




      </div>




      <div class="box2 border border-light-subtle p-4 px-5 rounded-1 bg-white mt-4" style="width:80%">

        <p class="fw-semibold mb-4">What languages do you know?
          <span class="text-secondary"> - You can add more than one</span>
        </p>

        <button type="button" class="btn main-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                +  Add language
        </button>




      </div>














</div>
