
/* Signup Form Layout */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px); /* subtract navbar height */
  background: #fff;
  width: 100%;
}

.signup-card {
  width: 420px;
  padding: 2rem;
  border-radius: 12px;
  background: #fff;
  text-align: center;
}

.signup-card h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.signup-card p {
  margin-bottom: 1.5rem;
  color: #555;
  font-size: 0.95rem;
}

.signup-card a {
  color: #8b7dda;
  font-weight: 500;
  text-decoration: none;
}

.signup-card a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}
.form-row input{
    width: 40%;
}
input {
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 0.95rem;
  flex: 1;
  outline: none;
  transition: border 0.2s ease;
}

input:focus {
  border-color: #8b7dda;
  box-shadow: 0 0 0 2px rgba(75, 107, 251, 0.2);
}

button {
  background-color: #8b7dda;
  margin-top: 1rem;
  padding: 0.85rem;
  border-radius: 12px;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #6a60a4;
}


.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5rem; /* space for the eye icon */
}

.password-wrapper i {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #808080;
}
.password-wrapper i:hover {
  color: #000;
}



.career-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem; /* space before "Create Account" */
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5rem;
}

.password-wrapper i {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #808080;
}

.password-wrapper i:hover {
  color: #000;
}
