<div class="signup-container" style="width: 100%">
  <div class="signup-card">
    <div class="text-center">
      <h2 class="fs-1">
        <span style="color: #353d4a">Create</span>
        <span class="gradient px-1">Account</span>
      </h2>
    </div>
    <p>
      Already have account?
      <a routerLink="/login">Log In</a>
    </p>

    <form (ngSubmit)="onSubmit()">
      <div class="form-row">
        <input type="text" placeholder="Full Name" name="fullname" required />
        <input type="text" placeholder="Username" name="username" required />
      </div>
      <input type="email" placeholder="Email address" name="email" required />
      <input type="tel" placeholder="Phone Number" name="phone" />
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          name="password"
          required
        />
        <i
          class="fa-solid"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePassword()"
        ></i>
      </div>
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Confirm Password"
          name="confirmPassword"
          required
        />
        <i
          class="fa-solid"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePassword()"
        ></i>
      </div>
      <button type="submit">Create Account</button>
    </form>
  </div>
</div>
